package signupPage

import "github.com/LinkShake/go_todo/templates/header"

templ SignUp() {
    <html>
        @header.Header()
        <body>
            <form hx-post="/signup" method="POST" hx-swap="none">
                <input type="email" required name="email" />
                <input type="password" required name="pwd" />
                <button>Create account</button>
            </form>
        </body>
    </html>
}